In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Task

### Load all the datasets and so the EDA

## pydataset

### you may need to pip install the pydataset library

In [6]:
pip install pydataset

Requirement already satisfied: pydataset in c:\users\pc\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\pc\anaconda3\lib\site-packages (from pydataset) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pc\anaconda3\lib\site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from pydataset import data

In [8]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [9]:
df=data('BOD')

In [10]:
df

   Time  demand
1     1     8.3
2     2    10.3
3     3    19.0
4     4    16.0
5     5    15.6
6     7    19.8

In [23]:
df1=data('HairEyeColor')

In [24]:
df1

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

In [16]:
df2=data('cake')
df2

     replicate recipe  temperature  angle  temp
1            1      A          175     42   175
2            1      A          185     46   185
3            1      A          195     47   195
4            1      A          205     39   205
5            1      A          215     53   215
..         ...    ...          ...    ...   ...
266         15      C          185     28   185
267         15      C          195     25   195
268         15      C          205     25   205
269         15      C          215     31   215
270         15      C          225     25   225

[270 rows x 5 columns]

In [17]:
df1

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

In [20]:
df1= pd.get_dummies(df1,drop_first=True)

In [21]:
df1

   Time  demand
1     1     8.3
2     2    10.3
3     3    19.0
4     4    16.0
5     5    15.6
6     7    19.8

In [25]:
df1

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

In [38]:
df2= pd.get_dummies(df1,drop_first=True)

In [39]:
df2

,Freq,Hair_Black,Hair_Blond,Hair_Brown,Hair_Red,Eye_Blue,Eye_Brown,Eye_Green,Eye_Hazel,Sex_Female,Sex_Male
1,32,1,0,0,0,0,1,0,0,0,1
2,53,0,0,1,0,0,1,0,0,0,1
3,10,0,0,0,1,0,1,0,0,0,1
4,3,0,1,0,0,0,1,0,0,0,1
5,11,1,0,0,0,1,0,0,0,0,1
6,50,0,0,1,0,1,0,0,0,0,1
7,10,0,0,0,1,1,0,0,0,0,1
8,30,0,1,0,0,1,0,0,0,0,1
9,10,1,0,0,0,0,0,0,1,0,1
10,25,0,0,1,0,0,0,0,1,0,1
11,7,0,0,0,1,0,0,0,1,0,1
12,5,0,1,0,0,0,0,0,1,0,1
13,3,1,0,0,0,0,0,1,0,0,1
14,15,0,0,1,0,0,0,1,0,0,1
15,7,0,0,0,1,0,0,1,0,0,1
16,8,0,1,0,0,0,0,1,0,0,1
17,36,1,0,0,0,0,1,0,0,1,0
18,66,0,0,1,0,0,1,0,0,1,0
19,16,0,0,0,1,0,1,0,0,1,0
20,4,0,1,0,0,0,1,0,0,1,0
21,9,1,0,0,0,1,0,0,0,1,0
22,34,0,0,1,0,1,0,0,0,1,0
23,7,0,0,0,1,1,0,0,0,1,0
24,64,0,1,0,0,1,0,0,0,1,0
25,5,1,0,0,0,0,0,0,1,1,0
26,29,0,0,1,0,0,0,0,1,1,0
27,7,0,0,0,1,0,0,0,1,1,0
28,5,0,1,0,0,0,0,0,1,1,0
29,2,1,0,0,0,0,0,1,0,1,0
30,14,0,0,1,0,0,0,1,0,1,0
31,7,0,0,0,1,0,0,1,0,1,0
32,8,0,1,0,0,0,0,1,0,1,0

In [40]:
dff=data('HairEyeColor')

In [41]:
dff

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

In [42]:
dff=pd.get_dummies(dff,drop_first=True)

In [43]:
dff

,Freq,Hair_Blond,Hair_Brown,Hair_Red,Eye_Brown,Eye_Green,Eye_Hazel,Sex_Male
1,32,0,0,0,1,0,0,1
2,53,0,1,0,1,0,0,1
3,10,0,0,1,1,0,0,1
4,3,1,0,0,1,0,0,1
5,11,0,0,0,0,0,0,1
6,50,0,1,0,0,0,0,1
7,10,0,0,1,0,0,0,1
8,30,1,0,0,0,0,0,1
9,10,0,0,0,0,0,1,1
10,25,0,1,0,0,0,1,1
11,7,0,0,1,0,0,1,1
12,5,1,0,0,0,0,1,1
13,3,0,0,0,0,1,0,1
14,15,0,1,0,0,1,0,1
15,7,0,0,1,0,1,0,1
16,8,1,0,0,0,1,0,1
17,36,0,0,0,1,0,0,0
18,66,0,1,0,1,0,0,0
19,16,0,0,1,1,0,0,0
20,4,1,0,0,1,0,0,0
21,9,0,0,0,0,0,0,0
22,34,0,1,0,0,0,0,0
23,7,0,0,1,0,0,0,0
24,64,1,0,0,0,0,0,0
25,5,0,0,0,0,0,1,0
26,29,0,1,0,0,0,1,0
27,7,0,0,1,0,0,1,0
28,5,1,0,0,0,0,1,0
29,2,0,0,0,0,1,0,0
30,14,0,1,0,0,1,0,0
31,7,0,0,1,0,1,0,0
32,8,1,0,0,0,1,0,0

In [45]:
df_tit=sns.load_dataset('titanic')

In [46]:
df_tit

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [47]:
df_tit=pd.get_dummies(df_tit,drop_first=True)

In [48]:
df_tit

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,embarked_Q,...,who_woman,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,0,3,22.0,1,0,7.2500,True,False,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,False,False,0,0,...,1,0,1,0,0,0,0,0,0,1
2,1,3,26.0,0,0,7.9250,False,True,0,0,...,1,0,0,0,0,0,0,0,1,1
3,1,1,35.0,1,0,53.1000,False,False,0,0,...,1,0,1,0,0,0,0,0,1,1
4,0,3,35.0,0,0,8.0500,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
887,1,1,19.0,0,0,30.0000,False,True,0,0,...,1,1,0,0,0,0,0,0,1,1
888,0,3,NaN,1,2,23.4500,False,False,0,0,...,1,0,0,0,0,0,0,0,1,0
889,1,1,26.0,0,0,30.0000,True,True,1,0,...,0,0,1,0,0,0,0,0,0,1
890,0,3,32.0,0,0,7.7500,True,True,1,1,...,0,0,0,0,0,0,0,1,0,0

In [52]:
df_tit.isna()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,embarked_Q,...,who_woman,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
888,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [55]:
df_tit.isnull().sum()*100/len(df_tit)

survived                    0.00000
pclass                      0.00000
age                        19.86532
sibsp                       0.00000
parch                       0.00000
fare                        0.00000
adult_male                  0.00000
alone                       0.00000
sex_male                    0.00000
embarked_Q                  0.00000
embarked_S                  0.00000
class_Second                0.00000
class_Third                 0.00000
who_man                     0.00000
who_woman                   0.00000
deck_B                      0.00000
deck_C                      0.00000
deck_D                      0.00000
deck_E                      0.00000
deck_F                      0.00000
deck_G                      0.00000
embark_town_Queenstown      0.00000
embark_town_Southampton     0.00000
alive_yes                   0.00000
dtype: float64

In [56]:
df_tit.isnull().mean()*100

survived                    0.00000
pclass                      0.00000
age                        19.86532
sibsp                       0.00000
parch                       0.00000
fare                        0.00000
adult_male                  0.00000
alone                       0.00000
sex_male                    0.00000
embarked_Q                  0.00000
embarked_S                  0.00000
class_Second                0.00000
class_Third                 0.00000
who_man                     0.00000
who_woman                   0.00000
deck_B                      0.00000
deck_C                      0.00000
deck_D                      0.00000
deck_E                      0.00000
deck_F                      0.00000
deck_G                      0.00000
embark_town_Queenstown      0.00000
embark_town_Southampton     0.00000
alive_yes                   0.00000
dtype: float64

In [57]:
df_tit.dropna(inplace=True)

In [58]:
df_tit

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,embarked_Q,...,who_woman,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,0,3,22.0,1,0,7.2500,True,False,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,False,False,0,0,...,1,0,1,0,0,0,0,0,0,1
2,1,3,26.0,0,0,7.9250,False,True,0,0,...,1,0,0,0,0,0,0,0,1,1
3,1,1,35.0,1,0,53.1000,False,False,0,0,...,1,0,1,0,0,0,0,0,1,1
4,0,3,35.0,0,0,8.0500,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,39.0,0,5,29.1250,False,False,0,1,...,1,0,0,0,0,0,0,1,0,0
886,0,2,27.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
887,1,1,19.0,0,0,30.0000,False,True,0,0,...,1,1,0,0,0,0,0,0,1,1
889,1,1,26.0,0,0,30.0000,True,True,1,0,...,0,0,1,0,0,0,0,0,0,1
890,0,3,32.0,0,0,7.7500,True,True,1,1,...,0,0,0,0,0,0,0,1,0,0

In [59]:
df_tit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 714 non-null    int64
 1   pclass                   714 non-null    int64
 2   age                      714 non-null    float64
 3   sibsp                    714 non-null    int64
 4   parch                    714 non-null    int64
 5   fare                     714 non-null    float64
 6   adult_male               714 non-null    bool
 7   alone                    714 non-null    bool
 8   sex_male                 714 non-null    uint8
 9   embarked_Q               714 non-null    uint8
 10  embarked_S               714 non-null    uint8
 11  class_Second             714 non-null    uint8
 12  class_Third              714 non-null    uint8
 13  who_man                  714 non-null    uint8
 14  who_woman                714 non-null    uint8
 15  deck_B                   714 non-null    uint8
 16  deck_C                   714 non-null    uint8
 17  deck_D                   714 non-null    uint8
 18  deck_E                   714 non-null    uint8
 19  deck_F                   714 non-null    uint8
 20  deck_G                   714 non-null    uint8
 21  embark_town_Queenstown   714 non-null    uint8
 22  embark_town_Southampton  714 non-null    uint8
 23  alive_yes                714 non-null    uint8
dtypes: bool(2), float64(2), int64(4), uint8(16)
memory usage: 51.6 KB

## scaling methods
### MinMax  MinMaxScaler

In [74]:
from sklearn.preprocessing import MinMaxScaler

In [77]:
minmax = MinMaxScaler()

In [66]:
x= df_tit[['age']]

In [67]:
x

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
885  39.0
886  27.0
887  19.0
889  26.0
890  32.0

[714 rows x 1 columns]

In [76]:
x_transformed = minmax.fit_transform(x)

In [69]:
x_transformed

array([[0.27117366],
       [0.4722292 ],
       [0.32143755],
       [0.43453129],
       [0.43453129],
       [0.67328474],
       [0.01985423],
       [0.33400352],
       [0.17064589],
       [0.04498618],
       [0.72354863],
       [0.24604172],
       [0.48479517],
       [0.17064589],
       [0.68585072],
       [0.01985423],
       [0.3842674 ],
       [0.43453129],
       [0.42196532],
       [0.18321186],
       [0.34656949],
       [0.09525006],
       [0.4722292 ],
       [0.23347575],
       [0.49736115],
       [0.8240764 ],
       [0.34656949],
       [0.52249309],
       [0.25860769],
       [0.22090978],
       [0.17064589],
       [0.49736115],
       [0.33400352],
       [0.03242021],
       [0.23347575],
       [0.22090978],
       [0.08268409],
       [0.25860769],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.25860769],
       [0.35285248],
       [0.05755215],
       [0.13294798],
       [0.27117366],
       [0.4722292 ],
       [0.560191  ],
       [0.04498618],
       [0.35913546],
       [0.23347575],
       [0.2083438 ],
       [0.32143755],
       [0.39683338],
       [0.19577783],
       [0.25860769],
       [0.32143755],
       [0.39683338],
       [0.30887158],
       [0.00515205],
       [0.37170143],
       [0.27117366],
       [0.35913546],
       [0.34656949],
       [0.2083438 ],
       [0.40939935],
       [0.19577783],
       [0.28373963],
       [0.2963056 ],
       [0.35913546],
       [0.24604172],
       [0.57275697],
       [0.32143755],
       [0.7361146 ],
       [0.88690626],
       [0.28373963],
       [0.42196532],
       [0.42196532],
       [0.34656949],
       [0.25860769],
       [0.40939935],
       [0.45966323],
       [0.34656949],
       [0.25860769],
       [0.4722292 ],
       [0.58532295],
       [0.17692888],
       [0.27117366],
       [0.24604172],
       [0.2083438 ],
       [0.25860769],
       [0.88062327],
       [0.35913546],
       [0.2963056 ],
       [0.01985423],
       [0.25860769],
       [0.40311636],
       [0.40311636],
       [0.67328474],
       [0.14551395],
       [0.2963056 ],
       [0.560191  ],
       [0.40939935],
       [0.24604172],
       [0.58532295],
       [0.35913546],
       [0.30887158],
       [0.28373963],
       [0.23347575],
       [0.45966323],
       [0.19577783],
       [0.2963056 ],
       [0.27117366],
       [0.2963056 ],
       [0.23347575],
       [0.22090978],
       [0.23347575],
       [0.33400352],
       [0.10781603],
       [0.45338025],
       [0.52249309],
       [0.63558683],
       [0.27117366],
       [0.6921337 ],
       [0.50364413],
       [0.63558683],
       [0.19577783],
       [0.37170143],
       [0.54762503],
       [0.49736115],
       [0.32143755],
       [0.2083438 ],
       [0.00728826],
       [0.10781603],
       [0.560191  ],
       [0.34656949],
       [0.76124654],
       [0.04498618],
       [0.00728826],
       [0.25860769],
       [0.69841669],
       [0.22090978],
       [0.62302086],
       [0.37170143],
       [0.44709726],
       [0.10781603],
       [0.00728826],
       [0.04498618],
       [0.560191  ],
       [0.49736115],
       [0.44709726],
       [0.39683338],
       [0.23347575],
       [0.23347575],
       [0.03242021],
       [0.54762503],
       [0.72354863],
       [0.52249309],
       [0.2963056 ],
       [0.34656949],
       [0.42196532],
       [0.56647399],
       [0.22090978],
       [0.01985423],
       [0.39683338],
       [0.32143755],
       [0.19577783],
       [0.49736115],
       [0.2963056 ],
       [0.43453129],
       [0.27117366],
       [0.37170143],
       [0.3842674 ],
       [0.33400352],
       [0.52249309],
       [0.39683338],
       [0.37170143],
       [0.19577783],
       [0.33400352],
       [0.63558683],
       [0.4722292 ],
       [0.27117366],
       [0.23347575],
       [0.2523247 ],
       [0.22090978],
       [0.43453129],
       [0.35913546],
       [0.7361146 ],
       [0.05755215],
       [0.2963056 ],
       [0.54762503],
       [0.09525006],
       [0.23347575],
       [0.40939935],
       [0.35913546],
       [0.27117366],
       [0.37170143],
       [0.54762503],
       [0.30887158],
       [0.2963056 ],
       [0.45966323],
       [0.67328474],
       [0.35913546],
       [0.77381252],
       [0.37170143],
       [0.50992712],
       [0.35913546],
       [0.37170143],
       [0.43453129],
       [0.62302086],
       [0.03242021],
       [0.6481528 ],
       [0.49736115],
       [0.44709726],
       [0.19577783],
       [0.30887158],
       [0.72354863],
       [0.43453129],
       [0.30887158],
       [0.50992712],
       [0.45966323],
       [0.78637849],
       [0.560191  ],
       [0.08268409],
       [0.43453129],
       [0.81151043],
       [0.34656949],
       [0.19577783],
       [0.23347575],
       [0.40939935],
       [0.37170143],
       [0.27117366],
       [0.52249309],
       [0.27117366],
       [0.32143755],
       [0.23347575],
       [0.44709726],
       [0.2963056 ],
       [0.2963056 ],
       [0.29002262],
       [0.01985423],
       [0.62302086],
       [0.23347575],
       [0.00628299],
       [0.2083438 ],
       [0.37170143],
       [0.37170143],
       [0.2963056 ],
       [0.22090978],
       [0.32143755],
       [0.34656949],
       [0.53505906],
       [0.32143755],
       [0.2963056 ],
       [0.67328474],
       [0.3842674 ],
       [0.49736115],
       [0.27117366],
       [0.33400352],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.76124654],
       [0.44709726],
       [0.3842674 ],
       [0.19577783],
       [0.56647399],
       [0.4722292 ],
       [0.19577783],
       [0.35913546],
       [0.50992712],
       [0.560191  ],
       [0.560191  ],
       [0.01985423],
       [0.2963056 ],
       [0.34656949],
       [0.30887158],
       [0.44709726],
       [0.2963056 ],
       [0.49736115],
       [0.03242021],
       [0.52249309],
       [0.28373963],
       [0.18321186],
       [0.30887158],
       [0.34656949],
       [0.27117366],
       [0.4722292 ],
       [0.49736115],
       [0.35913546],
       [0.560191  ],
       [0.43453129],
       [0.37170143],
       [0.74868057],
       [0.2963056 ],
       [0.30887158],
       [0.22090978],
       [0.23347575],
       [0.27117366],
       [0.03242021],
       [0.27117366],
       [0.33400352],
       [0.24604172],
       [0.23347575],
       [0.52249309],
       [0.00728826],
       [0.39683338],
       [0.43453129],
       [0.22090978],
       [0.00728826],
       [0.44709726],
       [0.2083438 ],
       [0.44709726],
       [0.25860769],
       [0.34656949],
       [0.28373963],
       [0.2963056 ],
       [0.27117366],
       [0.3842674 ],
       [0.57275697],
       [0.28373963],
       [0.34656949],
       [0.48479517],
       [0.32143755],
       [0.25860769],
       [0.34656949],
       [0.24604172],
       [0.42196532],
       [0.63558683],
       [0.03242021],
       [0.25860769],
       [0.40939935],
       [0.54762503],
       [0.42196532],
       [0.22090978],
       [0.37170143],
       [0.12038201],
       [0.25860769],
       [0.35913546],
       [0.34656949],
       [0.22090978],
       [0.34656949],
       [0.23347575],
       [0.39683338],
       [0.34656949],
       [0.52249309],
       [0.2083438 ],
       [0.62302086],
       [0.17064589],
       [0.25860769],
       [0.2963056 ],
       [0.79894446],
       [0.3842674 ],
       [0.560191  ],
       [0.24604172],
       [0.30887158],
       [0.34656949],
       [0.04498618],
       [0.15807992],
       [0.42196532],
       [0.05755215],
       [0.6481528 ],
       [0.44709726],
       [0.37170143],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.62302086],
       [0.59788892],
       [0.42196532],
       [0.58532295],
       [0.59788892],
       [0.4722292 ],
       [0.69841669],
       [0.00414677],
       [0.4722292 ],
       [0.40939935],
       [0.28373963],
       [0.27117366],
       [0.42196532],
       [0.35913546],
       [0.27117366],
       [0.01985423],
       [0.10781603],
       [0.62302086],
       [0.78637849],
       [0.30887158],
       [0.43453129],
       [0.72354863],
       [0.37170143],
       [0.10781603],
       [0.25860769],
       [0.68585072],
       [0.88690626],
       [0.25860769],
       [0.67328474],
       [0.30887158],
       [0.2963056 ],
       [0.2083438 ],
       [0.25860769],
       [0.45966323],
       [0.19577783],
       [0.22090978],
       [0.40939935],
       [0.34656949],
       [0.32143755],
       [0.35913546],
       [0.44709726],
       [0.67328474],
       [0.2963056 ],
       [0.58532295],
       [0.42196532],
       [0.44709726],
       [0.39683338],
       [0.37170143],
       [0.27117366],
       [0.54762503],
       [0.50364413],
       [0.62302086],
       [0.48479517],
       [0.28373963],
       [0.01985423],
       [0.2083438 ],
       [0.37170143],
       [0.08268409],
       [0.560191  ],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.10781603],
       [0.13294798],
       [0.39683338],
       [0.62302086],
       [0.79894446],
       [0.23347575],
       [0.40939935],
       [0.09525006],
       [0.2083438 ],
       [0.33400352],
       [0.27117366],
       [0.27117366],
       [0.77381252],
       [0.59788892],
       [0.48479517],
       [0.44709726],
       [0.49736115],
       [0.34656949],
       [0.2963056 ],
       [0.23347575],
       [0.35913546],
       [0.39683338],
       [0.77381252],
       [0.66071877],
       [0.44709726],
       [0.19577783],
       [0.23347575],
       [0.42196532],
       [0.48479517],
       [0.39683338],
       [0.30887158],
       [0.48479517],
       [0.67328474],
       [0.44709726],
       [0.22090978],
       [0.58532295],
       [0.74868057],
       [0.27117366],
       [0.43453129],
       [0.6481528 ],
       [0.58532295],
       [0.45966323],
       [0.44709726],
       [0.61045489],
       [0.61045489],
       [0.2963056 ],
       [0.54762503],
       [0.43453129],
       [0.44709726],
       [0.37170143],
       [0.33400352],
       [0.27117366],
       [0.49736115],
       [0.48479517],
       [0.43453129],
       [0.2963056 ],
       [0.42196532],
       [0.32143755],
       [0.04498618],
       [0.32143755],
       [0.33400352],
       [0.52249309],
       [0.24604172],
       [0.25860769],
       [0.25860769],
       [0.76124654],
       [0.71098266],
       [0.25860769],
       [0.32143755],
       [1.        ],
       [0.63558683],
       [0.39683338],
       [0.10781603],
       [0.34656949],
       [0.39683338],
       [0.3842674 ],
       [0.50992712],
       [0.24604172],
       [0.2963056 ],
       [0.01985423],
       [0.00414677],
       [0.59788892],
       [0.23347575],
       [0.69841669],
       [0.28373963],
       [0.22090978],
       [0.25860769],
       [0.22090978],
       [0.2963056 ],
       [0.39683338],
       [0.28373963],
       [0.72354863],
       [0.62302086],
       [0.49736115],
       [0.58532295],
       [0.44709726],
       [0.24604172],
       [0.39683338],
       [0.30887158],
       [0.53505906],
       [0.49736115],
       [0.3842674 ],
       [0.87434029],
       [0.3842674 ],
       [0.22090978],
       [0.30258859],
       [0.22090978],
       [0.53505906],
       [0.44709726],
       [0.33400352],
       [0.24604172],
       [0.17064589],
       [0.74868057],
       [0.30887158],
       [0.17064589],
       [0.23347575],
       [0.22090978],
       [0.18321186],
       [0.3842674 ],
       [0.04498618],
       [0.30887158],
       [0.74868057],
       [0.6481528 ],
       [0.54762503],
       [0.61045489],
       [0.52249309],
       [0.22090978],
       [0.43453129],
       [0.22090978],
       [0.30887158],
       [0.32143755],
       [0.48479517],
       [0.560191  ],
       [0.52249309],
       [0.27117366],
       [0.2963056 ],
       [0.59788892],
       [0.35913546],
       [0.6481528 ],
       [0.23347575],
       [0.4722292 ],
       [0.33400352],
       [0.40939935],
       [0.07011812],
       [0.2083438 ],
       [0.42196532],
       [0.62302086],
       [0.33400352],
       [0.24604172],
       [0.37170143],
       [0.30887158],
       [0.30887158],
       [0.35913546],
       [0.13294798],
       [0.28373963],
       [0.28373963],
       [0.35285248],
       [0.59788892],
       [0.43453129],
       [0.44709726],
       [0.25860769],
       [0.2963056 ],
       [0.3842674 ],
       [0.87434029],
       [0.19577783],
       [0.37170143],
       [0.23347575],
       [0.3842674 ],
       [0.04498618],
       [0.07011812],
       [0.40939935],
       [0.28373963],
       [0.59788892],
       [0.00314149],
       [0.34656949],
       [0.22090978],
       [0.42196532],
       [0.40939935],
       [0.50992712],
       [0.24604172],
       [0.44709726],
       [0.19577783],
       [0.63558683],
       [0.37798442],
       [0.39683338],
       [0.2963056 ],
       [0.59788892],
       [0.71098266],
       [0.67328474],
       [0.22090978],
       [0.05755215],
       [0.53505906],
       [0.15807992],
       [0.2083438 ],
       [0.35913546],
       [0.30887158],
       [0.30887158],
       [0.22090978],
       [0.09525006],
       [0.00728826],
       [0.57275697],
       [0.19577783],
       [0.30887158],
       [0.48479517],
       [0.61045489],
       [0.3842674 ],
       [0.37170143],
       [0.37170143],
       [0.42196532],
       [0.3842674 ],
       [0.13294798],
       [0.        ],
       [0.33400352],
       [0.3842674 ],
       [0.48479517],
       [0.22090978],
       [0.48479517],
       [0.40939935],
       [0.32143755],
       [0.48479517],
       [0.43453129],
       [0.07011812],
       [0.37798442],
       [0.28373963],
       [0.3842674 ],
       [0.53505906],
       [0.12038201],
       [0.6481528 ],
       [0.33400352],
       [0.4722292 ],
       [0.33400352],
       [0.01985423],
       [0.00728826],
       [0.77381252],
       [0.18321186],
       [0.00515205],
       [0.28373963],
       [0.22090978],
       [0.48479517],
       [0.25860769],
       [0.39683338],
       [0.24604172],
       [0.19577783],
       [0.37170143],
       [0.4282483 ],
       [0.2083438 ],
       [0.52249309],
       [0.43453129],
       [0.34656949],
       [0.04498618],
       [0.92460417],
       [0.10781603],
       [0.19577783],
       [0.54762503],
       [0.22090978],
       [0.560191  ],
       [0.63558683],
       [0.2963056 ],
       [0.50992712],
       [0.25860769],
       [0.59788892],
       [0.2963056 ],
       [0.52249309],
       [0.33400352],
       [0.3842674 ],
       [0.04498618],
       [0.32143755],
       [0.58532295],
       [0.40939935],
       [0.58532295],
       [0.34656949],
       [0.18321186],
       [0.24604172],
       [0.23347575],
       [0.69841669],
       [0.30887158],
       [0.40939935],
       [0.27117366],
       [0.34656949],
       [0.30887158],
       [0.48479517],
       [0.33400352],
       [0.23347575],
       [0.32143755],
       [0.39683338]])

In [70]:
x_transformed.max()

1.0

In [72]:
x_transformed.min()

0.0

## Standard Scaler

In [84]:
#sc = StandardScaler()

In [83]:
from sklearn.preprocessing import StandardScaler

In [85]:
sc = StandardScaler()

In [87]:
x_fare = df_tit[['fare']].values

In [88]:
x_fare_transformed = sc.fit_transform(x_fare)

In [89]:
x_fare_transformed

array([[-5.18977865e-01],
       [ 6.91896750e-01],
       [-5.06213563e-01],
       [ 3.48049152e-01],
       [-5.03849804e-01],
       [ 3.24647932e-01],
       [-2.57546055e-01],
       [-4.45544364e-01],
       [-8.74347866e-02],
       [-3.40277640e-01],
       [-1.54013385e-01],
       [-5.03849804e-01],
       [-6.46632722e-02],
       [-5.07552397e-01],
       [-3.53514694e-01],
       [-1.05319937e-01],
       [-3.15694541e-01],
       [-1.64413927e-01],
       [-4.10244924e-01],
       [-5.04243133e-01],
       [ 1.52318019e-02],
       [-2.57546055e-01],
       [-6.25358885e-02],
       [ 4.31727425e+00],
       [-1.31873467e-01],
       [-4.57520116e-01],
       [ 8.97780210e-01],
       [ 3.27248068e-01],
       [-5.03849804e-01],
       [-3.15694541e-01],
       [-4.43494512e-01],
       [-4.76902945e-01],
       [-2.58964310e-01],
       [ 1.30189940e-01],
       [-5.07079645e-01],
       [-3.19476556e-01],
       [ 9.44177482e-02],
       [-5.08577323e-01],
       [ 7.94879137e-01],
       [-1.64413927e-01],
       [ 5.15955505e-01],
       [-4.57520116e-01],
       [-5.19371195e-01],
       [-1.31321293e-01],
       [ 2.30806676e-01],
       [-5.19371195e-01],
       [ 8.56730216e-01],
       [ 9.22442732e-01],
       [-1.28484781e-01],
       [-4.57520116e-01],
       [-5.01801843e-01],
       [-5.06213563e-01],
       [-4.92267382e-01],
       [-4.57520116e-01],
       [ 2.30806676e-01],
       [ 7.33814717e-01],
       [-3.82745891e-01],
       [ 4.12263991e-01],
       [-5.11413835e-01],
       [-1.07683697e-01],
       [-4.20172714e-01],
       [-4.85885231e-01],
       [-4.76430193e-01],
       [ 2.34588692e-01],
       [-4.57520116e-01],
       [-3.56351205e-01],
       [-6.04203436e-03],
       [ 4.31727425e+00],
       [-5.03849804e-01],
       [-5.03849804e-01],
       [-5.07552397e-01],
       [ 5.00748022e-01],
       [-2.67001093e-01],
       [-5.18977865e-01],
       [-7.62340939e-04],
       [ 5.42034392e-01],
       [-2.21144157e-01],
       [-1.64413927e-01],
       [-5.06765738e-01],
       [ 8.05436633e-01],
       [-4.92424336e-01],
       [-5.06213563e-01],
       [-5.06765738e-01],
       [-5.11413835e-01],
       [-5.06765738e-01],
       [ 3.27248068e-01],
       [-3.82745891e-01],
       [-5.03849804e-01],
       [-4.70284418e-01],
       [-3.82668359e-01],
       [-5.06213563e-01],
       [-5.09522827e-01],
       [-2.58964310e-01],
       [ 4.02456140e+00],
       [-6.46632722e-02],
       [ 7.33814717e-01],
       [-8.74347866e-02],
       [-4.10244924e-01],
       [ 8.05436633e-01],
       [-4.43494512e-01],
       [-5.21025827e-01],
       [-5.24178136e-01],
       [-5.06765738e-01],
       [-5.22759881e-01],
       [-3.81879809e-01],
       [-1.64413927e-01],
       [-4.10244924e-01],
       [-3.71558689e-01],
       [-1.59056702e-01],
       [ 3.48049152e-01],
       [-4.81787417e-01],
       [ 8.41602154e-01],
       [-5.09522827e-01],
       [-3.56351205e-01],
       [-5.28432904e-01],
       [-4.38610039e-01],
       [ 3.88693978e-02],
       [-5.08656745e-01],
       [-6.04203436e-03],
       [-1.64413927e-01],
       [-4.10244924e-01],
       [-4.19227211e-01],
       [ 6.03335188e-01],
       [-5.03849804e-01],
       [-3.81879809e-01],
       [ 5.04609459e-01],
       [-5.09838625e-01],
       [-5.03849804e-01],
       [-3.51623686e-01],
       [-3.58242213e-01],
       [-5.09050075e-01],
       [-4.92267382e-01],
       [ 9.44177482e-02],
       [-2.67946597e-01],
       [-1.28484781e-01],
       [ 4.12263991e-01],
       [-2.25883515e-02],
       [-1.05319937e-01],
       [-4.45544364e-01],
       [-5.06213563e-01],
       [-7.56159886e-02],
       [-5.07552397e-01],
       [-1.13120344e-01],
       [-4.10244924e-01],
       [-6.56075921e-01],
       [-6.25358885e-02],
       [ 8.14170704e-02],
       [-2.39581482e-01],
       [-1.54013385e-01],
       [-3.62969732e-01],
       [-5.06765738e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-5.07552397e-01],
       [-1.64413927e-01],
       [-1.31873467e-01],
       [ 2.11464365e+00],
       [-4.97151855e-01],
       [-4.10244924e-01],
       [-4.76430193e-01],
       [-5.33239845e-01],
       [-5.19450617e-01],
       [-5.03849804e-01],
       [-4.58229244e-01],
       [-3.56351205e-01],
       [-3.00802855e-01],
       [-5.09522827e-01],
       [-6.98635433e-02],
       [-5.22759881e-01],
       [-2.58964310e-01],
       [-5.18977865e-01],
       [-4.10244924e-01],
       [ 1.48596302e+00],
       [-5.06213563e-01],
       [-1.45503850e-01],
       [ 7.86605978e-01],
       [-4.57520116e-01],
       [-5.03849804e-01],
       [-4.10244924e-01],
       [-5.03849804e-01],
       [ 1.04583098e+00],
       [-4.79266704e-01],
       [-4.57520116e-01],
       [-5.18977865e-01],
       [-4.10244924e-01],
       [ 9.22442732e-01],
       [-5.09050075e-01],
       [-4.00789886e-01],
       [-6.25358885e-02],
       [-4.57520116e-01],
       [-1.64413927e-01],
       [-1.59686408e-01],
       [-4.57520116e-01],
       [-4.23954730e-01],
       [-4.57520116e-01],
       [-5.21341625e-01],
       [-5.19450617e-01],
       [ 1.04583098e+00],
       [-5.09050075e-01],
       [-3.81879809e-01],
       [ 3.37728032e-01],
       [-1.64413927e-01],
       [-4.58229244e-01],
       [-1.54013385e-01],
       [-3.51623686e-01],
       [-2.73855996e-01],
       [-3.67776674e-01],
       [ 9.79645714e-01],
       [ 9.03210855e+00],
       [-1.64413927e-01],
       [-6.25358885e-02],
       [ 8.50111689e-01],
       [-6.56075921e-01],
       [-4.57520116e-01],
       [ 9.44177482e-02],
       [-5.09050075e-01],
       [ 2.24591173e+00],
       [ 1.90876019e+00],
       [-6.56075921e-01],
       [-2.87329425e-01],
       [-9.44466430e-02],
       [ 8.18121512e-01],
       [-5.09522827e-01],
       [-1.05319937e-01],
       [-2.73146868e-01],
       [-5.09522827e-01],
       [-5.07552397e-01],
       [-4.76430193e-01],
       [-5.03849804e-01],
       [-4.92267382e-01],
       [-4.76430193e-01],
       [-5.06765738e-01],
       [-4.10244924e-01],
       [-5.09522827e-01],
       [ 8.34983628e-01],
       [ 1.06623874e+00],
       [-4.12608684e-01],
       [-4.88721743e-01],
       [-5.06765738e-01],
       [-5.19371195e-01],
       [ 2.20974620e+00],
       [ 4.02456140e+00],
       [-6.56075921e-01],
       [ 2.20974620e+00],
       [ 1.40323143e+00],
       [-2.02234080e-01],
       [ 4.20459618e-01],
       [ 9.16453911e-01],
       [ 4.30545546e+00],
       [-1.64413927e-01],
       [-5.06765738e-01],
       [-1.59686408e-01],
       [-5.07552397e-01],
       [-1.64413927e-01],
       [-3.91334847e-01],
       [ 2.46156602e+00],
       [ 1.88732940e+00],
       [-5.18977865e-01],
       [-5.06765738e-01],
       [-4.22536474e-01],
       [-1.07683697e-01],
       [ 1.90876019e+00],
       [-5.38124318e-01],
       [-4.10244924e-01],
       [-2.67946597e-01],
       [ 4.40315198e-01],
       [-1.17138735e-01],
       [ 2.24591173e+00],
       [-3.15694541e-01],
       [ 6.03335188e-01],
       [ 1.88732940e+00],
       [-5.03849804e-01],
       [ 1.52318019e-02],
       [-1.64413927e-01],
       [ 4.31727425e+00],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-3.55405702e-01],
       [-4.92267382e-01],
       [-4.81630464e-01],
       [-5.19371195e-01],
       [-3.19476556e-01],
       [-4.76430193e-01],
       [ 3.83978298e-01],
       [-4.10244924e-01],
       [-1.28484781e-01],
       [-1.31873467e-01],
       [-3.82745891e-01],
       [-5.22759881e-01],
       [-5.18977865e-01],
       [ 7.66907351e-01],
       [ 6.54392395e-01],
       [ 3.92330879e-01],
       [-5.33239845e-01],
       [-5.03849804e-01],
       [ 1.90876019e+00],
       [-2.57546055e-01],
       [-5.18977865e-01],
       [ 3.34340530e+00],
       [-5.80199239e-01],
       [-5.09050075e-01],
       [ 3.64643928e+00],
       [-3.58399167e-01],
       [-5.06213563e-01],
       [ 3.27248068e-01],
       [ 7.33814717e-01],
       [ 2.30806676e-01],
       [-4.10244924e-01],
       [-4.29155001e-01],
       [ 1.61313328e+00],
       [-5.08656745e-01],
       [-5.06213563e-01],
       [ 1.48596302e+00],
       [-3.40277640e-01],
       [-5.08656745e-01],
       [-5.07552397e-01],
       [-1.64413927e-01],
       [-4.57520116e-01],
       [-4.16863451e-01],
       [-5.06213563e-01],
       [-5.03849804e-01],
       [-4.70284418e-01],
       [-3.56351205e-01],
       [-4.92267382e-01],
       [-2.58964310e-01],
       [-5.09522827e-01],
       [-3.01511983e-01],
       [-5.09050075e-01],
       [ 1.04583098e+00],
       [-5.06213563e-01],
       [-4.14984282e-02],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-1.99397569e-01],
       [-5.09838625e-01],
       [-5.07159067e-01],
       [-3.83770817e-01],
       [-2.73855996e-01],
       [-1.64413927e-01],
       [-1.64413927e-01],
       [-5.03849804e-01],
       [-1.54013385e-01],
       [-1.64413927e-01],
       [-5.21341625e-01],
       [ 4.00997367e-01],
       [ 1.61313328e+00],
       [-6.04203436e-03],
       [-3.01511983e-01],
       [ 4.31727425e+00],
       [-4.57520116e-01],
       [-1.59686408e-01],
       [-4.76430193e-01],
       [-5.09050075e-01],
       [-4.10244924e-01],
       [ 8.91870811e-01],
       [-2.87329425e-01],
       [-1.54013385e-01],
       [-2.91899991e-01],
       [-7.93185816e-02],
       [-1.31321293e-01],
       [-1.31321293e-01],
       [ 1.02889134e+00],
       [-5.06765738e-01],
       [-1.54013385e-01],
       [-4.57520116e-01],
       [-1.54013385e-01],
       [-5.03849804e-01],
       [ 7.19620321e-02],
       [-4.10244924e-01],
       [-5.22759881e-01],
       [-1.54013385e-01],
       [-2.91899991e-01],
       [-4.92267382e-01],
       [-1.31321293e-01],
       [-3.95273816e-01],
       [-4.70048042e-01],
       [-2.58964310e-01],
       [-5.22839303e-01],
       [-5.13857016e-01],
       [-4.23718354e-01],
       [ 2.30806676e-01],
       [-5.03849804e-01],
       [-4.74775561e-01],
       [ 1.06623874e+00],
       [ 1.04583098e+00],
       [-9.44466430e-02],
       [-5.03849804e-01],
       [-3.55405702e-01],
       [-5.18977865e-01],
       [-7.93185816e-02],
       [ 2.80052298e-01],
       [-5.03849804e-01],
       [ 8.23953380e-01],
       [ 2.20974620e+00],
       [-5.08656745e-01],
       [-4.92267382e-01],
       [-5.09522827e-01],
       [-4.74775561e-01],
       [ 9.79645714e-01],
       [ 1.40323143e+00],
       [-1.64413927e-01],
       [-2.30126443e-01],
       [ 4.12263991e-01],
       [-5.09522827e-01],
       [-1.58977280e-01],
       [ 4.67182635e-01],
       [-5.14329768e-01],
       [-1.27399835e-02],
       [-4.57520116e-01],
       [-1.64413927e-01],
       [-5.06765738e-01],
       [ 1.11201625e+00],
       [-5.06765738e-01],
       [ 4.40315198e-01],
       [-5.09522827e-01],
       [-4.57520116e-01],
       [-5.06213563e-01],
       [-4.38610039e-01],
       [-1.64413927e-01],
       [-5.19371195e-01],
       [-4.92267382e-01],
       [-1.59686408e-01],
       [-1.54013385e-01],
       [ 1.35642899e+00],
       [ 2.79972876e-01],
       [ 6.86539525e-01],
       [-6.46632722e-02],
       [-6.46632722e-02],
       [-1.64413927e-01],
       [ 1.35642899e+00],
       [-1.64413927e-01],
       [-1.64413927e-01],
       [-2.67946597e-01],
       [ 3.88693978e-02],
       [ 1.44073579e+00],
       [-1.64413927e-01],
       [-5.19450617e-01],
       [-5.09050075e-01],
       [-1.54013385e-01],
       [ 9.27631165e-02],
       [ 8.50111689e-01],
       [-3.27040587e-01],
       [-5.06765738e-01],
       [-4.00789886e-01],
       [-1.99397569e-01],
       [-5.06765738e-01],
       [-2.57546055e-01],
       [-5.07552397e-01],
       [-4.57520116e-01],
       [ 3.17399700e-01],
       [-1.57086272e-01],
       [-5.03849804e-01],
       [-3.81879809e-01],
       [-4.10244924e-01],
       [ 4.00997367e-01],
       [-5.06213563e-01],
       [-8.87736200e-02],
       [ 1.44073579e+00],
       [-1.64413927e-01],
       [ 1.02690907e-01],
       [ 8.50111689e-01],
       [-3.72424771e-01],
       [ 8.41602154e-01],
       [-5.03849804e-01],
       [-5.21341625e-01],
       [ 8.23953380e-01],
       [-5.18977865e-01],
       [-1.64413927e-01],
       [-1.99397569e-01],
       [-6.56075921e-01],
       [ 4.20459618e-01],
       [-1.45503850e-01],
       [-5.03849804e-01],
       [-1.54013385e-01],
       [-3.62024229e-01],
       [-5.06765738e-01],
       [-7.93185816e-02],
       [ 1.30189940e-01],
       [ 2.24591173e+00],
       [-6.46632722e-02],
       [-5.03849804e-01],
       [ 5.73079065e-01],
       [-3.83770817e-01],
       [-3.51623686e-01],
       [ 8.14170704e-02],
       [-4.57520116e-01],
       [-3.82745891e-01],
       [ 3.37728032e-01],
       [-3.58399167e-01],
       [-5.07552397e-01],
       [-3.51623686e-01],
       [-4.48871139e-02],
       [-4.22536474e-01],
       [ 8.18121512e-01],
       [-5.06765738e-01],
       [-8.87736200e-02],
       [-5.22680458e-01],
       [-7.93185816e-02],
       [-1.28484781e-01],
       [-4.10244924e-01],
       [-5.06213563e-01],
       [-1.59686408e-01],
       [ 9.44177482e-02],
       [-5.07552397e-01],
       [ 6.54392395e-01],
       [-1.28484781e-01],
       [-2.91899991e-01],
       [ 7.94879137e-01],
       [-5.06765738e-01],
       [ 1.52318019e-02],
       [-5.13304842e-01],
       [-2.21144157e-01],
       [-4.96601571e-01],
       [-5.28432904e-01],
       [ 7.33814717e-01],
       [-3.62969732e-01],
       [-4.10244924e-01],
       [ 1.48596302e+00],
       [ 1.87125583e+00],
       [-5.19450617e-01],
       [-1.72214333e-01],
       [-5.14329768e-01],
       [-5.06213563e-01],
       [ 7.33814717e-01],
       [-4.10244924e-01],
       [-5.03849804e-01],
       [ 8.14170704e-02],
       [ 3.27248068e-01],
       [-4.57520116e-01],
       [-4.10244924e-01],
       [-5.09050075e-01],
       [-5.03849804e-01],
       [-4.69968619e-01],
       [ 2.30806676e-01],
       [ 9.03210855e+00],
       [ 7.94879137e-01],
       [-4.81630464e-01],
       [ 2.30806676e-01],
       [ 8.14170704e-02],
       [ 1.30189940e-01],
       [ 9.44177482e-02],
       [-4.63745313e-01],
       [-5.08656745e-01],
       [ 3.34033242e+00],
       [ 4.21798451e-01],
       [-4.02365095e-01],
       [-5.19450617e-01],
       [-1.54013385e-01],
       [-4.00789886e-01],
       [-5.03849804e-01],
       [ 1.44073579e+00],
       [-5.11413835e-01],
       [ 3.64643928e+00],
       [-1.58977280e-01],
       [-3.82745891e-01],
       [-5.09679781e-01],
       [-5.07552397e-01],
       [-1.64413927e-01],
       [-4.00789886e-01],
       [-1.58977280e-01],
       [ 2.20974620e+00],
       [ 2.80052298e-01],
       [ 3.27248068e-01],
       [-4.76745991e-01],
       [-4.10244924e-01],
       [-5.11413835e-01],
       [ 3.64643928e+00],
       [-4.57520116e-01],
       [-5.09050075e-01],
       [-3.20433898e-02],
       [-5.22680458e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [ 3.48049152e-01],
       [-4.92267382e-01],
       [-2.58964310e-01],
       [-1.64413927e-01],
       [-5.06213563e-01],
       [ 3.34033242e+00],
       [-3.00802855e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-3.51623686e-01],
       [-6.04203436e-03],
       [ 9.03210855e+00],
       [ 8.34983628e-01],
       [ 4.30545546e+00],
       [-3.51623686e-01],
       [-5.06213563e-01],
       [ 6.86539525e-01],
       [-2.73146868e-01],
       [-4.10244924e-01],
       [ 3.48049152e-01],
       [-5.09522827e-01],
       [-2.21144157e-01],
       [-4.20172714e-01],
       [-4.76430193e-01],
       [-5.06765738e-01],
       [ 5.73079065e-01],
       [-3.81879809e-01],
       [-5.08656745e-01],
       [-4.38610039e-01],
       [-5.03849804e-01],
       [ 9.79645714e-01],
       [-5.21341625e-01],
       [-5.19371195e-01],
       [ 1.61313328e+00],
       [-5.09050075e-01],
       [ 8.18121512e-01],
       [-5.09522827e-01],
       [-4.97940405e-01],
       [-4.76430193e-01],
       [-5.07552397e-01],
       [-4.57520116e-01],
       [-2.21144157e-01],
       [-5.09522827e-01],
       [-4.20172714e-01],
       [ 3.34033242e+00],
       [-5.19371195e-01],
       [ 4.21798451e-01],
       [-8.87736200e-02],
       [-5.22759881e-01],
       [-5.18977865e-01],
       [-5.14329768e-01],
       [-1.05319937e-01],
       [-2.67001093e-01],
       [ 8.41602154e-01],
       [-1.64413927e-01],
       [-5.06765738e-01],
       [-4.10244924e-01],
       [-1.65752760e-01],
       [-4.91874052e-01],
       [-5.19371195e-01],
       [-1.99397569e-01],
       [-4.10244924e-01],
       [-1.59686408e-01],
       [ 1.61313328e+00],
       [-4.95024471e-01],
       [-5.24178136e-01],
       [-5.09050075e-01],
       [-6.56075921e-01],
       [-5.09050075e-01],
       [-4.10244924e-01],
       [ 3.48049152e-01],
       [-5.06922691e-01],
       [-1.99397569e-01],
       [-4.57520116e-01],
       [-6.46632722e-02],
       [-5.03849804e-01],
       [-5.06213563e-01],
       [ 4.36763393e-02],
       [-5.34105927e-01],
       [-1.28484781e-01],
       [ 1.11201625e+00],
       [-4.92267382e-01],
       [-6.56075921e-01],
       [-4.20172714e-01],
       [ 9.44177482e-02],
       [ 4.36763393e-02],
       [ 8.56730216e-01],
       [-3.82745891e-01],
       [-3.01511983e-01],
       [-5.07552397e-01],
       [-4.99122285e-01],
       [ 9.16453911e-01],
       [-4.92267382e-01],
       [ 4.12263991e-01],
       [-5.06213563e-01],
       [-4.57520116e-01],
       [-6.98635433e-02],
       [-5.34342303e-01],
       [-4.92267382e-01],
       [-5.13304842e-01],
       [-5.06765738e-01],
       [-3.20433898e-02],
       [-6.46632722e-02],
       [-5.09050075e-01],
       [-3.67776674e-01],
       [ 8.89811011e-02],
       [-1.64413927e-01],
       [-4.79266704e-01],
       [ 2.46156602e+00],
       [-1.54013385e-01],
       [-2.91899991e-01],
       [-3.89286886e-01],
       [-4.38610039e-01],
       [-1.65752760e-01],
       [-4.10244924e-01],
       [-4.10244924e-01],
       [-3.94014405e-01],
       [ 2.98803530e-01],
       [-4.45544364e-01],
       [-5.06765738e-01],
       [ 3.37728032e-01],
       [-5.61525538e-01],
       [-4.85885231e-01],
       [-2.02234080e-01],
       [-5.19450617e-01],
       [-4.69891088e-01],
       [-5.06765738e-01],
       [ 9.16453911e-01],
       [-1.64413927e-01],
       [-5.06765738e-01],
       [-4.57204318e-01],
       [-4.57520116e-01],
       [-5.22759881e-01],
       [-1.05319937e-01],
       [-4.10244924e-01],
       [-8.87736200e-02],
       [-8.87736200e-02],
       [-5.09522827e-01]])

In [90]:
x_fare_transformed.max()

9.03210855381962

In [92]:
x_fare_transformed.min()

-0.6560759214298145

# Load as a dataframe

In [93]:
dfff=sns.load_dataset('iris')

In [94]:
dfff

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

# Task:
## Load all the datasets and do the EDA

# 2.Scikit-learn datasets

In [95]:
from sklearn.datasets import fetch_california_housing

### Load data (will download the data if it's the first time loading)

In [96]:
housing = fetch_california_housing(as_frame=True)

## Create a dataframe

In [97]:
dff1= housing['data'].join(housing['target'])
dff1

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [98]:
dff1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB